@font-face 
{
    font-family: 'Architekt-regular';
    src: url(assets/fonts/NBArchitektStd/NBArchitektStd-Light.otf);
}

@font-face {
    font-family: 'NB-regular';
    src: url(assets/fonts/NBArchitektStd/NB\ International\ Regular.otf);
}

*
{
    font-family: 'Architekt-regular', sans-serif;
}

body
{
    background-color: black;
}

html, body {
    margin: 0;
    padding: 0;
}

.no-scroll 
{
    overflow: hidden;
    height: 100%;
}

.navbar
{
    /* border-bottom: 1px solid #ffffff; */
    background-color: none;
    background: none;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    animation: LoadIn 3s;
}

/* .navbar::after 
{
    content: '';
    display: block;
    height: 1px; 
    background-color: #ffffff; 
    width: calc(100vw - 40px); 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}*/

.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 1.5em;
}

@keyframes blink 
{
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.navbar a:hover:after 
{
    content: '';
    display: inline-block;
    width: 8px; /* Width of the cursor */
    height: 1em; /* Height to match the text */
    background-color: white; /* Color of the cursor */
    animation: blink 1s step-end infinite;
    position: absolute;
    right: 5px; /* Distance from the right edge of the link element */
    bottom: 0; /* Aligns with the bottom of the text */
    margin-left: 5px; /* Adjust the space between the text and cursor */
}

.navbar a 
{
    overflow: visible;
    position: relative;
    padding-right: 20px; /* Space for cursor */
}


.link-aboutme
{
    color: aliceblue;
    font-size: 1.1em;
}

.link-projects
{
    color: aliceblue;
    font-size: 1.1em;
}

.link-contact
{
    color: aliceblue;
    font-size: 1.1em;
}

#to-top 
{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: black;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 9999; 
}

.arrow-to-top 
{
    font-size: 2em;
    color: aliceblue;
    padding-top: 0.2em;
}

.main-image
{
    position:absolute;
    max-width:40vw;
    margin-top: 5vh;
    padding-left: 95vh;

}

.overlay-text
{
    position: absolute;
    object-fit: cover;
    animation: LoadIn 3s;
    margin-top: 55vh;
    padding-left: 3em;
    margin-bottom: -10em;
}

.name 
{
    color: aliceblue;
    font-size: 6em;
}

.typing
{
    background: -webkit-linear-gradient(aliceblue ,gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -1.7em;
    font-size: 2.5em;
}

.gray-white-theme
{
    background: -webkit-linear-gradient(aliceblue ,gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.icons
{
    margin-top: -2em;
}

.linkedin
{
    color: aliceblue;
    font-size: 50px;
    margin-right: 0.5em;
    transition: 0.3s;
}

.linkedin:hover
{
    color: #0077b5;
}

.github
{
    color: aliceblue;
    font-size: 50px;
    margin-right: 0.5em;
    transition: 0.3s;
}

.github:hover
{
    transition: 0.3s;
    color: rgb(126, 117, 117);
}

.dribble
{
    color: aliceblue;
    font-size: 50px;
    margin-right: 0.5em;
    transition: 0.3s;
}

.dribble:hover
{
    transition: 0.3s;
    color: orange;
}

.youtube
{
    color: aliceblue;
    font-size: 50px;
    margin-right: 0.5em;
    transition: 0.3s;
}

.youtube:hover
{
    transition: 0.3s;
    color: red;
}

a:link 
{
    text-decoration: none;
}

a:visited 
{
    text-decoration: none;
}

.separate-title
{
    padding: 27em;
    box-sizing: border-box;
    box-shadow: transparent;
    color: transparent;
}

.about-section
{
    margin-bottom: -1em;
}

.about-title
{
    color: aliceblue;
    padding-top: 3.5em;
    margin-left: 36vw;
    margin-bottom: 0.3em;
    font-size: 5em;
    position: relative;
    display: inline-block;
}

.about-para
{
    color: aliceblue;
    font-size: 1.6em;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 2.5em;
    text-align: center;
}

.separate-title2
{
    padding: 10em;
    box-sizing: border-box;
    box-shadow: transparent;
    color: transparent;
}

.sl-border
{
    position: relative;
    padding-bottom: 2em;
}

.sl-border::before 
{
    content: '';
    display: block;
    height: 1px; 
    background-color: #ffffff;
    width: calc(100vw - 10vw);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.sl-border::after {
    content: '> SOLAR ATLAS';
    position: absolute;
    top: 12px; 
    left: 5vw;
    font-size: 1.3em;
    color: aliceblue;
}

.sl-video
{
    position: absolute;
    margin-left: 8vw;
    margin-top: 7em;
    width: 40vw;
    height: 42vh;
}

.sl-text1
{
    color: aliceblue;
    text-align: left;
    font-size: 1.8vw;
    padding-left: 50vw;
}

.sl-text2
{
    position: absolute;
    padding-top: 27px;
    color: aliceblue;
    text-align: left;
    font-size: 1.8vw;
    padding-left: 5vw;

}

.sl-image
{
    position: absolute;
    margin-top: 70px;
    margin-left: 55vw;
    max-width: 37vw;
    height: auto;
}

.separate-title3
{
    padding: 20em;
    box-sizing: border-box;
    box-shadow: transparent;
    color: transparent;
}

.contact-title
{
    color: aliceblue;
    margin-left: 38vw;
    margin-bottom: 0.3em;
    font-size: 5em;
    position: relative;
    display: inline-block;
}

.contact-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

form
{
    display: flex;
    flex-direction: column;
    padding: 3vw 5vw;
    border-radius: 0px;
    width: 50vw;
}

.app-form-group 
{
    margin-bottom: 15px;
}
  
.app-form-group.message 
{
    margin-top: 40px;
}
  
.app-form-group.buttons 
{
    margin-bottom: 0;
    text-align: right;
}

.app-form-control 
{
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 2px solid aliceblue;
    color: #ddd;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}
  
.app-form-control::placeholder 
{
    color: #aeaeae;
}
  
.app-form-control:focus 
{
    border-bottom-color: #ddd;
}
  
.app-form-button 
{
    padding: 15px 20px;
    background: none;
    border: none;
    color: ghostwhite;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}
  
.app-form-button:hover 
{
    color: white;
}

.contact-info
{
    color: aliceblue;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;      
}

.welcome-screen 
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: aliceblue;
    opacity: 1;
    z-index: 1000;
    animation: fadeOut 1s ease forwards;
    animation-delay: 1.5s;
}

@keyframes LoadIn
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@keyframes fadeOut 
{
    to {
        opacity: 0;
        visibility: hidden;
    }
}

